input, select{
    background-color: aqua;
    display: flex;
    justify-content: normal;
    color: black;
    box-shadow: 10px 10px gray;
}

button{
    background-color:orangered;
    color: #fff;
    border-radius: 7px;
    padding: 3px;
    box-shadow: 10px 10px gray;
}

h3{
    margin-left: 6%;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}